body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    background: #F87060;
    color: #EFEFEF;
}

h1 {
    font-family: "Candara", sans-serif;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
}

#gameModeLabel {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    font-size: 20px;
    font-family: "Candara", sans-serif;
    font-weight: bold;
}

#gameModeButtons {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#gameModeButtons input[type="checkbox"] {
    display: none;
}

#gameModeButtons .gameModeButton {
    display: inline-block;
    width: 20vw;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 3px solid #EFEFEF;
    border-radius: 4px;
    color: #EFEFEF;
}

#gameModeButtons input[type="checkbox"]:checked + .gameModeButton {
    background-color: #EFEFEF;
    color: #F87060;
}

#selectFirstPlayer {
    margin-left: 10px;
    display: none;
    align-items: flex-start;
}

#firstPlayerLabel {
    text-align: left;
    font-size: 20px;
    font-family: "Candara", sans-serif;
    font-weight: bold;
}

#selectFirstPlayer label {
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 21px;
    height: 21px;
}

#firstPlayerCheckbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#selectFirstPlayer label span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid #EFEFEF;
    border-radius: 12px;
    cursor: pointer;
}

#selectFirstPlayer label span::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 8px;
    width: 10px;
    height: 20px;
    border: solid #EFEFEF;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 0;
}

#selectFirstPlayer input:checked ~ span::after {
    opacity: 1;
}

#enterPlayerNames {
    display: none;
}

#playerNameLabel {
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
    font-family: "Candara", sans-serif;
    font-weight: bold;
}

#playerNameTextboxes {
    text-align: center;
}

#playerNameTextboxes .playerNameTextbox {
    display: inline-block;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 20vw;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #EFEFEF;
    border-radius: 4px;
}

#startButtons {
    text-align: center;
    display: none;
}

#startButtons input {
    font-family: "Trebuchet MS", sans-serif;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 20vw;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #EFEFEF;
    border-radius: 4px;
    background-color: #F87060;
    color: #EFEFEF;
}

#startButtons input:hover {
    cursor: pointer;
    border: 3px solid #E7E6E6;
    border-radius: 4px;
    background-color: #FF8877;
    color: #E7E6E6;
}

#errorMessage {
    display: none;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: #040228;
}

#game_window {
    align-items: center;
    justify-content: space-between;
    display: none;
}

.playerStats {
    display: block;
    height: 100%;
    margin: 0.5in;
    width: 25vw;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#player1Stats {
    text-align: left;
    color: #EFEFEF;
}

#player2Stats {
    text-align: right;
    color: #040228;
}

